/*Thanh điều hướng*/
.navbar.navbar-expand-lg{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 110%;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 1.5px 1.5px #bf80ff;
}

.btn.btn-search,
.btn.btn-search:hover
{
    background-color: #8c00ff;
    color: white;

}

.navbar-brand.name{
    color: #000000;
    font-weight: 900;
    font-size: 15px;
}

.bi.bi-window.icon-category{
    background-color: #8c00ff;
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
}
/*Thanh điều hướng*/


/*Bảng Danh Sách*/
.table{
   text-align: center;
   font-size: 13PX;
   border: 1px solid;
   border-radius: 15px;
   overflow: hidden;
   max-width: 100%;
   margin: 0 auto;
   margin-left:6%;
   box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
   font-family: 'Roboto', sans-serif;
}
.table-backgroupColor{
    --bs-table-color: #fff;
    --bs-table-bg:  #8c00ff ;
    font-weight: 900;
}
/*th*/
.border-th-stt{
    border-right: 1px solid;
    width: 5%;
}
.border-th-name{
    border-right: 1px solid;
    width: 40%;
}
.border-th-img{
    border-right: 1px solid;
    width: 20%;
}

/*th*/
/*td*/
.border-width-STT,.border-width-Name,.border-width-Img{border-right: 1px solid #f1e6ec;}
.border-width-Function{
    width: 15%;
}

.img-brand{
    width: 70px;
}
/*td*/

/*nút*/
.edit-delete{
    display: flex;
    margin-left: 30%;
}

.edit{
    margin-right: 4px;
}
/*nút*/

/*phân trang*/
.pagination-margin{
    margin-left: 50%;
}
.custom-pagination .page-item .page-link {
    background-color: #8c00ff; /* Màu tím chính */
    border-color: #8c00ff;
    --bs-pagination-font-size: 0.8rem;
    color: white;
}

.custom-pagination .page-item.active .page-link {
    background-color: #6600bf; /* Màu tím đậm hơn cho trạng thái active */
    border-color: #6600bf;
}

.custom-pagination .page-item .page-link:hover {
    background-color: #a64dff; /* Màu tím nhạt hơn khi hover */
    border-color: #a64dff;
}

.custom-pagination .page-item.disabled .page-link {
    background-color: #bf80ff; /* Màu tím nhạt hơn cho trạng thái disabled */
    border-color: #bf80ff;
    color: #f2e6ff; /* Màu chữ nhạt hơn cho trạng thái disabled */
}
