/*Thanh điều hướng*/
.navbar.navbar-expand-lg{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 110%;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 1.5px 1.5px #3368fb;
}

.btn.btn-search,.btn.btn-search:hover { background-color: #3368fb; color: white; }
.navbar-brand.name{ color: #000000; font-weight: 900; font-size: 15px; }
.bi.bi-motherboard.icon-brand{ font-family: 'Roboto', sans-serif; background-color: #3368fb; color: rgb(54, 10, 10); box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3); }
/*Thanh điều hướng*/
.Parent-Children{ display: flex;}
.font-parent-children{ display: flex; }
.font-p-parent { font-size: 15px; font-weight: 900; margin-left: 15%;}
.font-p-children{ font-size: 15px; font-weight: 900;  margin-left: 22%; }
/*Bảng loại sản phẩm cha*/
.table.Parent{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
    font-family: 'Roboto', sans-serif;
 }
/*Bảng loại sản phẩm cha*/
/*th-td*/
.parent-border-th-stt,.parent-border-th-nameParent,.parent-border-th-img,.children-border-th-stt,.children-border-th-nameChildren,.children-border-th-nameParent
{ Border-right:  1px solid white; }
.parent-border-td-stt,.parent-border-td-nameParent,.parent-border-td-img,.parent-border-td-function,
.children-border-td-stt,.children-border-td-nameChildren,.children-border-td-nameParent,.children-border-td-function
{ border-right: 1px solid #f1e6ec; border-bottom: 1px solid #f1e6ec; vertical-align: middle; }
.img-parent{ width: 50px; }
/*th-td*/
/*Bảng loại sản phẩm con*/
.table.Children{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
    font-family: 'Roboto', sans-serif;
}
.table-backgroupColor{font-size: 13px; --bs-table-color: white;--bs-table-bg:  #3368fb ; }
/*Bảng loại sản phẩm con*/
/*nút*/
.edit-delete-parent { display: flex; margin-left: 15%; }
.edit-delete-children { display: flex; margin-left: 12%; }
.edit { margin-right: 4px; }
/*nút*/
/*Phân trang*/
.pagination-parent-children{ display: flex; }
/*Phân trang loại sản phẩm cha */
.pagination-margin-parent{ margin-left: 6%; }
/*Phân trang loại sản phẩm cha */
.pagination-margin-children{  margin-left: 49%; }
.custom-pagination .page-item .page-link {background-color: #3368fb; border-color: #3368fb;--bs-pagination-font-size: 0.8rem; color: white;}
.custom-pagination .page-item.active .page-link { background-color: #1e4cd1; border-color: #1e4cd1; }
.custom-pagination .page-item .page-link:hover { background-color: #5684fc;  border-color: #5684fc;}
.custom-pagination .page-item.disabled .page-link {background-color: #a3b8fd; border-color: #a3b8fd; color: #e6ecff; }
/*Phân trang bảng bộ lọc sản phẩm */
