/*Thanh điều hướng*/
.navbar.navbar-expand-lg{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 110%;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 15px;
    background-color: rgb(13 110 253);
    box-shadow: 0 0 1px 1px rgb(249, 249, 249);
}
.navbar-brand.name{ color: #ffffff; font-weight: 900; font-size: 15px;}
.navbar-brand.name:hover { color: #ffffff;}
.bi.bi-motherboard.icon-brand { background-color: white; color: rgb(13 110 253);}
.breadcrumb-item,.breadcrumb-item.active { font-weight: bold; font-size: 12px;}
.btn.btn-search{ background-color: rgb(13 110 253); color: white;}
.btn.btn-search:hover{ background-color: rgb(2, 87, 214); color: white;}
.form-control.me-2.font-search{ font-weight: 900; }
.d-flex.form-search { margin-right: -6%;}
/*Thanh điều hướng*/
.table{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    margin-top: -10px;
    margin-left:4%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
    font-family: 'Roboto', sans-serif;
 }
 .table-backgroupColor{ --bs-table-color: #fff;--bs-table-bg:  #3368fb ; font-weight: 900;}
 /*th*/
 .border-th-stt{ border-right: 1px solid; width: 5%; }
 .border-th-name{ border-right: 1px solid; width: 40%; }
 .border-th-img{ border-right: 1px solid; width: 20% }
 /*th*/
 /*td*/
 .border-width-STT,.border-width-Name,.border-width-Img{border-right: 1px solid #f1e6ec;  vertical-align: middle;}
 .border-width-Function{ width: 15%;  vertical-align: middle;}
 .img-brand{ width: 70px;}
 /*td*/
 /*nút*/
 .edit-delete{ display: flex; margin-left: 30%; }
 .edit{ margin-right: 4px; }
 /*nút*/
/*phân trang*/
.pagination-margin{ margin-left: 4%; }
.custom-pagination .page-item .page-link {background-color: #3368fb; border-color: #3368fb;--bs-pagination-font-size: 0.8rem; color: white;}
.custom-pagination .page-item.active .page-link { background-color: #1e4cd1; border-color: #1e4cd1; }
.custom-pagination .page-item .page-link:hover { background-color: #5684fc;  border-color: #5684fc;}
.custom-pagination .page-item.disabled .page-link {background-color: #a3b8fd; border-color: #a3b8fd; color: #e6ecff; }
