/*Thanh điều hướng*/
.navbar.navbar-expand-lg{
    margin-top: 10px;
    margin-bottom: 15px;
    height: 70px;
    width: 110%;

    border: 1px solid rgb(249, 249, 249);
    border-radius: 15px;
    background-color: rgb(13 110 253);
    box-shadow: 0 0 1px 1px rgb(249, 249, 249);
}
.navbar-brand.name{ color: #ffffff; font-weight: 900; font-size: 15px;}
.navbar-brand.name:hover { color: #ffffff;}
.bi.bi-file-image.icon-image{ background-color: white; color: rgb(13 110 253);}
.nav-link.image-brand{ font-weight: 900; font-size: 14px;}
.btn.btn-primary.image-brand{ margin-right: 6px;}
.nav-link.image-category{ font-weight: 900; font-size: 14px;}
.btn.btn-primary.image-category{ margin-right: 6px;}
.nav-link.image-user{ font-weight: 900; font-size: 14px;}
.btn.btn-primary.image-user{ margin-right: 6px;}
.nav-link.image-product{ font-weight: 900; font-size: 14px;}
.btn.btn-primary.image-product{ margin-right: 6px;}
/*Thanh điều hướng*/
.Admin-User{ display: flex;}
.font-admin-user{ display: flex;}
.font-p-admin { font-size: 15px; font-weight: 900; margin-left: 15%;}
.font-p-user{ font-size: 15px; font-weight: 900;  margin-left: 33%; }
/*Bảng hình ảnh Admin*/
.table.Admin{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
    font-family: 'Roboto', sans-serif;
 }
/*Bảng hình ảnh Admin*/
/*Bảng hình ảnh User*/
.table.User{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
    font-family: 'Roboto', sans-serif;
 }
 /*Bảng hình ảnh User*/
.font-category-brand{ display: flex; margin-top: 30px;}
.font-p-category { font-size: 15px; font-weight: 900; margin-left: 10%;}
.font-p-brand{ font-size: 15px; font-weight: 900;  margin-left: 30%; }

.table.Category{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
    font-family: 'Roboto', sans-serif;
 }
.table-backgroupColor{ font-size: 13px; --bs-table-color: white; --bs-table-bg:  #3368fb ;}
/*Bảng hình ảnh loại sản phẩm*/
/*th-td-2 bảng*/
.category-border-th-stt,.category-border-th-img,.category-border-th-nameParent,.brand-border-th-stt,.brand-border-th-img,.brand-border-th-nameBrand
{ border-right:  1px solid white;}
.category-border-td-stt,.category-border-td-nameParent,.category-border-td-img,.category-border-td-function,.brand-border-td-stt,.brand-border-td-nameBrand,.brand-border-td-img,.brand-border-td-function
{ border-right: 1px solid #f1e6ec; border-bottom: 1px solid #f1e6ec; vertical-align: middle;}
/*th-td-2 bảng*/
/*nút*/
.edit-delete-category {display: flex; margin-left: 30%; }
.edit-delete-brand {display: flex ; margin-left: 30%; }
.edit { margin-right: 4px; }
/*nút*/
/*Bảng hình ảnh hãng sản xuất*/
.table.Brand{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
    font-family: 'Roboto', sans-serif;
 }
/*Bảng hình ảnh hãng sản xuất*/
/*Phân trang*/
.Category-Brand{ display: flex; }
.pagination-category-brand{ display: flex; }
/*Phân trang loại sản phẩm cha */
.pagination-margin-category{ margin-left: 5%;}
/*Phân trang loại sản phẩm cha */
.pagination-margin-brand{ margin-left: 50%;}
.custom-pagination .page-item .page-link {background-color: #3368fb; border-color: #3368fb;--bs-pagination-font-size: 0.8rem; color: white;}
.custom-pagination .page-item.active .page-link { background-color: #1e4cd1; border-color: #1e4cd1; }
.custom-pagination .page-item .page-link:hover { background-color: #5684fc;  border-color: #5684fc;}
.custom-pagination .page-item.disabled .page-link {background-color: #a3b8fd; border-color: #a3b8fd; color: #e6ecff; }
/*Phân trang*/

