/*Thanh điều hướng*/
.navbar.navbar-expand-lg{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 110%;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 1.5px 1.5px #3368fb;
}

.btn.btn-search,
.btn.btn-search:hover
{
    background-color: #3368fb;
    color: white;

}

.navbar-brand.name{
    color: #000000;
    font-weight: 900;
    font-size: 15px;
}

.bi.bi-motherboard.icon-brand{
    background-color: #3368fb;
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
}
/*Thanh điều hướng*/


/*Bảng danh sách admin*/
.table.Admin
{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 6%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);

}
.font-p-admin{
    margin-left: 45%;
    font-weight: 900;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
/*Bảng danh sách admin*/


/*Bảng danh sách user*/
.table.User
{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 6%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
}
.font-p-user{
    margin-left: 45%;
    font-weight: 900;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
/*Bảng danh sách user*/



.table-backgroupColor{ font-size: 13px; --bs-table-color: white;--bs-table-bg:  #3368fb ;}
.edit-delete-admin{display: flex;margin-left: 8%;}
.edit-delete-user{ display: flex;margin-left: 8%;}
.edit{margin-right: 4px;}
.admin-border-td-address{ width: 20%; }
.user-border-td-address{ width: 20%; }
.img-admin,.img-user{ width: 50px; }
.admin-border-th-stt,.admin-border-th-img,.admin-border-th-name,.admin-border-th-email,.admin-border-th-gender,.admin-border-th-birthday,
.admin-border-th-phone,.admin-border-th-is_admin,.admin-border-th-address,

.user-border-th-stt,.user-border-th-name,.user-border-th-email,.user-border-th-gender,.user-border-th-birthday,
.user-border-th-phone,.user-border-th-img,.user-border-th-address{ border-right:  1px solid white; }

.admin-border-td-stt,.admin-border-td-name,.admin-border-td-img,.admin-border-td-email,.admin-border-td-gender,.admin-border-td-birthday,
.admin-border-td-phone,.admin-border-td-img,.admin-border-td-address,.admin-border-td-function,

.user-border-td-stt,.user-border-td-name,.user-border-td-email,.user-border-td-gender,.user-border-td-birthday,
.user-border-td-phone,.user-border-td-img,.user-border-td-address,.user-border-td-function
{ border-right: 1px solid #f1e6ec; border-bottom: 1px solid #f1e6ec;  vertical-align: middle;}



/*phân trang*/
.pagination-margin-admin{
    margin-left: 7%;
}
.custom-pagination .page-item .page-link {background-color: #3368fb; border-color: #3368fb;--bs-pagination-font-size: 0.8rem; color: white;}
.custom-pagination .page-item.active .page-link { background-color: #1e4cd1; border-color: #1e4cd1; }
.custom-pagination .page-item .page-link:hover { background-color: #5684fc;  border-color: #5684fc;}
.custom-pagination .page-item.disabled .page-link {background-color: #a3b8fd; border-color: #a3b8fd; color: #e6ecff; }
