/*Thanh điều hướng*/
.navbar.navbar-expand-lg{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 110%;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 15px;
    background-color: rgb(13 110 253);
    box-shadow: 0 0 1px 1px rgb(249, 249, 249);
}
.btn.btn-search,.btn.btn-search:hover { background-color: #3368fb; color: white; }
.navbar-brand.name{ color: #ffffff; font-weight: 900; font-size: 15px;  background-color: #3368fb;}
.navbar-brand.name:hover { color: #ffffff;}
.bi.bi-person-badge.icon-users{ font-family: 'Roboto', sans-serif; background-color: white; color: #3368fb; box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3); }
.breadcrumb-item,.breadcrumb-item.active { font-weight: bold; font-size: 12px;}
/*Thanh điều hướng*/
.form-group { margin-left: 1px;}
.form-label.name-Category{ font-weight: 900; font-size: 14px; vertical-align: middle; margin-top: 10px;margin-bottom: 5px;}
.form-label.name-Category-Parent  {font-weight: 900; font-size: 14px; vertical-align: middle; margin-top: 10px;margin-bottom: 5px;}
.form-label.name-Category-Children  {font-weight: 900; font-size: 14px; vertical-align: middle; margin-top: 10px;margin-bottom: 5px;}
.form-control.input-Category{ width: 80% ; margin-top: 5px; font-size: 14px;}
.form-control.input-Category-Parent{ width: 80% ; margin-top: 5px; margin-bottom: 5px; font-size: 14px;}
.form-control.input-Category-ListParent{ width: 80%; margin-top: 5px; margin-bottom: 5px; font-size: 14px;}

.btn.btn-success.save-user,.btn.btn-danger.close-user{ margin-top: 10px; font-size: 1rem; font-weight: 900;}
.option-none{background-color: rgb(255, 255, 255);}
.form-CategoryPlus{  border-radius: 10px; width: 60%; padding: 20px;
                    background-color: rgb(255, 255, 255);}
.name-form-plus{ font-size: 14px; font-weight: 900;}
.form-control{ font-weight: 900; font-size: 14px;}
.input.form-control.gender{ border: 2px solid #646464; border-radius: 5px; font-size: 0.9rem;padding: 11px 10px; }
.coolinput { display: flex; flex-direction: column; width: fit-content; position: static;  max-width: 240px; }
.coolinput label.text { font-size: 0.9rem; color: #646464; font-weight: 700;
                        position: relative; top: 0.5rem; margin: 0 0 0 7px; padding: 0 3px; background: #ffffff; width: fit-content; }
.coolinput input[type=text].input { padding: 11px 10px; font-size: 0.9rem; border: 2px #646464 solid; border-radius: 5px;  background: #ffffff; }
.coolinput input[type=text].input:focus { outline: none; }

.input.form-control.path-img {
    padding: 11px 10px;
    font-size: 0.9rem;
    font-weight: 700;
    border: 2px #646464 solid;
    border-radius: 5px;
    background: #ffffff;
}
/*Bảng chỉnh sửa tài khoản*/
.notification-container {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: top 0.5s ease-in-out;
    width: 300px;
}
.notification-container.show {top: 10px;}
.custom-alert {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.alert-success {border-left: 5px solid #28a745;}
.alert-danger { border-left: 5px solid #dc3545;}
.custom-alert p { margin-bottom: 10px;color: #333;}
.button-group {display: flex;justify-content: space-between;}
.ok-button, .cancel-button { width: 48%}
