/*Thanh điều hướng*/
.navbar.navbar-expand-lg{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 110%;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 15px;
    background-color: rgb(13 110 253);
    box-shadow: 0 0 1px 1px rgb(249, 249, 249);
}
.btn.btn-search,.btn.btn-search:hover { background-color: rgb(13 110 253); color: white; }
.navbar-brand.name{ color: #ffffff; font-weight: 900; font-size: 15px;  background-color: rgb(13 110 253);}
.navbar-brand.name:hover { color: #ffffff;}
.bi.bi-person-badge.icon-users{ font-family: 'Roboto', sans-serif; background-color: white; color: rgb(13 110 253); box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3); }
.breadcrumb-item,.breadcrumb-item.active { font-weight: bold; font-size: 12px;}
/*Thanh điều hướng*/
/*Nút Thêm , Sắp Xếp Tăng-Giảm Dần*/
.navbar.nav-function{ display: flex; align-items: center; margin-top: -10px; }
.button-group.group-function{ display: flex; align-items: center; margin-left: 65px; }
.btn.btn-success.plus-category{ margin-bottom: 10px; margin-top: 10px; border-radius: 5px ; width: 50px; height: 35px;
                  font-weight: 900; font-size: 14px ; vertical-align: middle; }
.btn.btn-success.show-all-category { width: 50px; height: 35px;  margin-right: 5px; vertical-align: middle;}
.btn.btn-success.btn-asc{  border-radius: 5px;
          width: 50px; height: 35px;margin-left: 5px; }
.btn.btn-success.btn-desc{ border-radius: 5px;
           width: 50px; height: 35px;margin-left: 5px; }
.btn.btn-success.show-new-category { font-weight: 900; font-size: 14px; margin-left: 5px;}
.btn.btn-success.show-edit-category { font-weight: 900; font-size: 14px; margin-left: 5px; }

.bi.bi-plus-square-fill, .bi.bi-arrow-clockwise{ margin-top: -2px;}
.bi.bi-sort-alpha-down, .bi.bi-sort-alpha-up-alt,.bi.bi-arrow-clockwise{ color: white; }
.bi.bi-sort-alpha-down, .bi.bi-sort-alpha-up-alt { margin-top:-5px;}
/*Nút Sắp Xếp Tăng-Giảm Dần*/
/*Bảng danh sách user*/
.alert.alert-info{ font-weight: 900; margin-left: 65px;
    width: 1110px; height: 300px;
    background-color: rgb(249, 249, 249); color: #000000;
    box-shadow: 0 0 1px 1px rgb(249, 249, 249); border: 1px solid rgb(249, 249, 249)
    ;
 }
.table.Admin
{
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 6%;
    box-shadow: 0 3px 3px rgba(167, 167, 167, 0.3);
}
/*Bảng danh sách admin*/
.table-backgroupColor{ font-size: 13px; --bs-table-color: white;--bs-table-bg:  #3368fb ;}
.edit-delete-admin{display: flex;margin-left: 5%;}
.edit{margin-right: 4px;}
.admin-border-td-address{ width: 20%; }
.img-admin,.img-user{ width: 50px; }
.admin-border-th-stt,.admin-border-th-img,.admin-border-th-name,.admin-border-th-email,.admin-border-th-gender,.admin-border-th-birthday,
.admin-border-th-phone,.admin-border-th-is_admin,.admin-border-th-address{ border-right:  1px solid white; }
.admin-border-td-stt,.admin-border-td-name,.admin-border-td-img,.admin-border-td-email,.admin-border-td-gender,.admin-border-td-birthday,
.admin-border-td-phone,.admin-border-td-img,.admin-border-td-address,.admin-border-td-function
{ border-right: 1px solid #f1e6ec; border-bottom: 1px solid #f1e6ec;  vertical-align: middle;}
/*phân trang*/
.pagination-margin-admin{
    margin-left: 7%;
}
.custom-pagination .page-item .page-link {background-color: #3368fb; border-color: #3368fb;--bs-pagination-font-size: 0.8rem; color: white;}
.custom-pagination .page-item.active .page-link { background-color: #1e4cd1; border-color: #1e4cd1; }
.custom-pagination .page-item .page-link:hover { background-color: #5684fc;  border-color: #5684fc;}
.custom-pagination .page-item.disabled .page-link {background-color: #a3b8fd; border-color: #a3b8fd; color: #e6ecff; }

.notification-container {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: top 0.5s ease-in-out;
    width: 300px;
}
.notification-container.show {top: 10px;}
.custom-alert {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.alert-success {border-left: 5px solid #28a745;}
.alert-danger { border-left: 5px solid #dc3545;}
.custom-alert p { margin-bottom: 10px;color: #333;}
.button-group {display: flex;justify-content: space-between;}
.ok-button, .cancel-button { width: 48%}


